In [1]:
import pandas as pd

In [4]:
data = pd.read_csv("../house.csv")
data.head()

   area_m2  num_quartos  num_banheiros  idade_anos  valor_casa
0       50            1              1          20      200000
1       60            2              1          15      250000
2       75            2              2          10      320000
3       80            3              2          12      350000
4      100            3              2           8      420000

In [16]:
TARGET = "valor_casa"

In [17]:
X = data.drop(TARGET, axis=1)
y = data[TARGET]

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)